<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
<!-- So the first one should go to the root route in order to get to the home page.
The second one needs to be /about to get to the about route.And the third one needs to be changed to contact.So now once we hit refresh, our links in our nav bar now take us to the correct routes. And when we click on
contact us,we're actually making a get requests to /contact which gets call in our server and we render -->
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
